.container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{
    /* background: red; */
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-container{
    /* background-color: red; */
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-container{
    /* background-color: black; */
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}