/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif  !important;
}

:root {
  --primary-color : white;
  --secondary-color: #03346e;
  --tertiary-color: #021526;
  --quarternary: #6eacda;
}

/*

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #d4d3d5; 
}

::-webkit-scrollbar-thumb {
  background-color: #5ba0ce; 
  border-radius: 6px;
  border: 3px solid #201E43; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #508C9B; 
}
*/