.container-1{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 30px;
    align-items: center;
}

.container-1 app-ridereq-card{
  transition: transform 0.2s ease-in-out;
  width: 100%;
}

.container-2{
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-3{
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hired-container{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}