.container-1{
    height: 90%;
    width: 100%;
}
.container-2{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hiredStatus-container{
    display: flex;

}