.fare-card {
    max-width: 455px;    /* margin: 20px auto; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  .fare-header{
    margin: 0;
  }
  .fare-amount {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  ul {
    list-style-type: circle;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    display: flex;
    align-items: center;
    color: #6d6d6d;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  
  .book-button {
    width: 100%;
    background-color: #000E23;
    color: #fff;
    border-radius: 8px;
    padding: 2%;
  }
  
  mat-card-actions {
    padding: 5px 16px 16px;
  }

  .payment-type{
   margin-left: -1.9rem;
   min-width: 200px;
   scale: 0.7;
  }

  mat-form-field{
    flex: 1;
  }