/* .container{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left-container{
    display: flex;
    flex-direction: column;

    gap: 20px   ;
}

.ride-container{
    width: 80%;
    height: 40%;
} */



.container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    align-items: flex-start;
    padding: 20px;
    /* box-sizing: border-box; */
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    /* flex: 1; */
    width: 30%;
    height: 100%;
}

.status-container {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 4px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center ;
}

.status-container .driver-status{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
}
.status-container .ops-btn{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cab-list{
    overflow-y: auto;
    height: 70%;
}

.cab-list::-webkit-scrollbar {
    
    width: 8px; /* Width of the scrollbar */
  }
  
  .cab-list::-webkit-scrollbar-thumb {
    background-color: #8dabca;/* Scrollbar color */
    border-radius: 10px;
  }
  
  .cab-list::-webkit-scrollbar-track {
    background-color: #ffffff; /* Track color */
  }

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* flex: 1; */
    width: 70%;
    height: 100%;
}


.table-container {
    width: 83.5%;
    height: auto;
    overflow: auto;
}

.ride-title {
    font-size: 1.5rem;
    color: #3f51b5;
}

.mat-table {
    margin-top: 10px;
    border-spacing: 0;
    border-collapse: collapse;
}

mat-header-cell {
    font-weight: bold;
    background-color: #f5f5f5;
    color: #424242;
}

mat-cell, mat-header-cell {
    padding: 16px;
}

tr:hover {
    background-color: #f0f0f0;
}

mat-paginator {
    background-color: #fafafa;
    margin-top: 10px;
}

mat-icon {
    vertical-align: middle;
    margin-right: 8px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .left-container, .right-container {
        max-width: 100%;
    }
}


  .earning-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 8px;
  }
  
  .earning-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .earning-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .date-header {
    font-size: 1rem;
    color: #6e6e6e;
  }
  
  .progress-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  
  .progress-bar-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .month-progress-bar {
    color: #03346E;
  }
  
  .cash-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9rem;
    font-weight: bold;
    color: #03346E;
  }
  
  .total-earnings {
    display: flex;
    align-items: center;
  }
  
  .earnings-amount {
    font-size: 1.4rem;
    font-weight: bold;
    color: #021526;
  }     